 h1{color: blue; font-size: 60px; font-family: arial; text-align: center;}
 h2{color: green; font-size: 40px; font-family: arial; text-align: left;}
 h3{color: purple; font-size: 18px; font-family: arial; text-align: right;}
