 body{background-image: url("akuhalal/Wood%20Wallpapers%201.jpg")}
          @import url(https://fonts.googleapis.com/css?family=Lobster);
          *{font-family: "Lobster"}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
      height: 400px;

  }
        .warna{color:"yellow";font-size: "50px";}
